<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zz.trip_recorder_3">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    "
    <application
        android:allowBackup="true"
        android:icon="@mipmap/umbrella"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/umbrella"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC-trr122rhVUEn5K8aDXJtziJAQWdMGJw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activity_01"
            android:label="@string/app_name"
            android:theme="@style/DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Editor"
            android:theme="@style/DayNight" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zz.trip_recorder_3.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activity_Viewer"
            android:theme="@style/DayNight" />
        <activity
            android:name=".Activity_Triplist"
            android:theme="@style/DayNight" />
        <activity android:name=".ExtraViewer.ImageViewer" />

        <service android:name=".googleSearchModule.doConnect"
            android:exported="false"></service>

    </application>

</manifest>